name: Workflow with Artifact
on: push
jobs:
  artifact_creator:
    runs-on: ubuntu-latest
    steps:
      - name: Create an artifact
        run: |
          echo hello world > hello.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello-world
          path: hello.txt
          retention-days: 1
  artifact_reader:
    needs: artifact_creator
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Read Artifact
        run: cat artifacts/artifact-demo/hello.txt

