name: Exploring environment variables and secrets

on: push
env:
  LEVEL: workflow

jobs:
  step_level_env_variables:
    env:
       LEVEL: job
    runs-on: ubuntu-latest
    steps:
      - name: Setup and read env variables on step level
        env:
          LEVEL: steps
        run: echo $LEVEL
      - name: Read job level environment variable
        run: echo $LEVEL

  workflow_level_env_variables:
     runs-on: ubuntu-latest
     steps:
      - name: Read workflow level environment variable
        run: echo $LEVEL

  read_repo_secret:
    runs-on: ubuntu-latest
    steps:
      - name: Read repo secret
      - run: echo ${{ secrets.REPO_SECRET }}
