name: My first workflow
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome message
        run: echo "Fist Step"
      - name: Second Step
        run: echo "Second Step"
      - name: Read README.md
      - run: cat README.md
   
       
