name: My first workflow
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome message
        run: echo "Fist Step"
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          ref: main
          path: django-cd
      - name: List and Read Files
        run: django-cd/scripts/list-and-read.sh
       
