name: Continuous Integration (Skeleton)
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Run linting
        run: sleep 5
  test_coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Measuring Test Coverage
        run: sleep 7
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Running Unit Tests
        run: sleep 9
  integration_test:
    needs: 
      - unit_tests
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Running Integration Tests
        run: sleep 2
  upload_image:
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker Image
        run: sleep 2
      - name: Upload Image to Registry
        run: sleep 2
  end_to_end_testing:
    needs:
      - upload_image
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment for E2E Testing 
        run: sleep 2
      - name: Run E2E Testing
        run: sleep 2
      - name: Cleanup Test Environment
        run: sleep 2
